PORT=8000
DATABASE=getthawa
USER_DB=postgres
PASSWORD=mysecretpassword
HOST=localhost
JWT_SECRET=mysecertencrypt
NODE_ENV=dev
CLIENT_ID=
CLIENT_SECRET=
REDIRECT_URI=
SESSION_SECRET=mysecertencrypt
REDIRECT_URI_AFTER_LOGIN=http://localhost:3000
LINE_CHANNEL_ID=
COOKIE_DOMAIN=
LIFF_CLIENT_ID=
LIFF_CLIENT_SECRET=
MESSAGE_API_CLIENT=
MESSSAGE_API_SECRET=
MESSAGE_CHANNEL_ACCESS_TOKEN=
EMAIL=
CUSTOM_EMAIL=
EMAIL_PASSWORD=
DOMAIN=http://localhost:8000